#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
php:
	date.timezone: Europe/Prague
	zlib.output_compression: yes


parameters:
	configFile: %tempDir%/satis.json
	outputDir: %wwwDir%
	logDir: %appDir%/../log

	satis:
		name: A Composer Repository
		require-all: false
		require-dependencies: true
		require-dev-dependencies: true
		archive:
			directory: dist
			format: zip

	webhook:
		password: webhookpassword

	composer:
		home: ~/.composer


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

	database:
		dsn: sqlite:%appDir%/../db/db.sqlite
		user:
		password:
		options:
			lazy: yes


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	rabbitmq: Kdyby\RabbitMq\DI\RabbitMqExtension
	monolog: Kdyby\Monolog\DI\MonologExtension


monolog:
	name: satis-gui
	handlers:
		- Monolog\Handler\SyslogHandler(satis-gui, local4)


services:

	- App\RouterFactory(%productionMode%)
	router: @App\RouterFactory::createRouter

	- App\Model\UserManager()
	- App\Model\PackageManager(%configFile%, %satis%)
	- App\Model\HtmlIndexManager(%wwwDir%/index.html, %tempDir%/cache/index)

	- App\Model\Builder(%outputDir%, %appDir%/../vendor/bin/satis, %composer.home%)

	- {class: Console\Commands\CreateUser, tags: [kdyby.console.command]}
	- {class: Console\Commands\Install, tags: [kdyby.console.command]}
	- {class: Console\Commands\Build, tags: [kdyby.console.command]}

	nette.latteFactory:
		setup:
			- setAutoRefresh(TRUE)


includes:
	- rabbitmq.neon
