{block content}

<div class="well">
	Webhook url: <code>{link //webhook: password => $webhookPassword}</code>
</div>

<div class="row">
	<div class="col-sm-12 packagesIndex">
		{include $bodyTagContentsFile}
	</div>
</div>
{/block}
